name: Continous Integration (CI)

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out the git repository
        uses: actions/checkout@v4

      - name: Set up Java Toolchain
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
          cache: "gradle"

      - name: Run tests and generate JaCoCo report
        run: ./gradlew test jacocoTestReport

      - name: Generate coverage summary
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: build/reports/jacoco/test/jacocoTestReport.xml
          badge: true
          format: markdown
          output: both

      - name: Add coverage to GitHub Actions job summary
        run: cat code-coverage-results.md >> $GITHUB_STEP_SUMMARY

      - name: Upload JaCoCo HTML report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: build/reports/jacoco/test/html
